@model DatieProject.Models.DatieModel

<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Shop Detail</h4>
            </div>
            <fieldset id="editForm">
                <div class="modal-body">
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.ShopId, new {@type = "hidden"})
                    </div>
                    <div class="form-control-manual">
                        <div class="edit-label">
                            <label for="ShopName">Name</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.ShopName, new {@style = "width:400px", @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-control-manual">
                        <div class="edit-label">
                            <label for="ShopAddress">Address</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.ShopAddress, new {@style = "width:400px", @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-control-manual">
                        <div class="edit-label">
                            <label for="ShopPhone">Phone</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.ShopPhone, new {@style = "width:400px", @class = "form-control numeric"})
                        </div>
                    </div>
                    <div class="form-control-manual">
                        <div class="edit-label">
                            <label for="DistrictId">District</label>
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(x => x.DistrictId, new SelectList(Model.DistrictList, "DistrictId", "DistrictName"), new {@style = "width:400px", @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-control-manual">
                        <div class="edit-label" style="width: 120px">
                            <label for="ShopPriceMid">Price Mid (VND)</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.ShopPriceMid, new {@style = "width:400px", @class = "form-control numeric"})
                        </div>
                    </div>
                    <div class="form-control-manual">
                        <div class="edit-label">
                            <label for="ShopTimeMid">Time Mid (H)</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.ShopTimeMid, new {@style = "width:400px", @class = "form-control numeric"})
                        </div>
                    </div>
                    <div class="form-control-manual">
                        <div class="edit-label">
                            <label for="ShopRate">Rate</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.ShopRate, new {@style = "width:400px", @class = "form-control", @disabled = "disabled"})
                        </div>
                    </div>
                    <div class="form-control-manual">
                        <div class="edit-label">
                            <label for="ShopDescription">Description</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextAreaFor(x => x.ShopDescription, new {@style = "height:120px;width:400px;", @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-control-manual">
                        <div class="edit-label">
                            <label for="FoodId">Main Course</label>
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(x => x.FoodId, new SelectList(Model.Food, "FoodId", "FoodName"), new {@style = "width:400px", @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-control-manual">
                        <div class="edit-label" style="width: 122px">
                            <label>IsDelete</label>
                        </div>
                        <div>
                            @if (Model.ShopIsDeleted)
                            {
                                <input type="checkbox" id="ShopIsDeleted" checked="checked"/>
                            }
                            else
                            {
                                <input type="checkbox" id="ShopIsDeleted"/>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick=" Edit(this, event) " data-id="@Model.ShopId">Update</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>