@model DatieProject.Models.LoginViewModel

@{
    ViewBag.Title = "Datie Management System";
    var session = Session["User"];
    var error = Session["Error"];
}

@if (session == null)
{
    <div class="row" style="height: 330px; margin-left: 280px; margin-top: 170px">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    if(error != null)
                     {
                         <div class="form-group" style="margin-left: 146px">
                             <p style="color: #ff0033">@error</p>
                         </div>
                         Session["Error"] = null;   
                     }
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" style="margin-left: 250px; width: 110px" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
}
else
{
    <center>
        <h2>Wellcome to Datie Management System</h2>
        @Html.ActionLink("Datie Management", "Index", "Datie") <br />
        @Html.ActionLink("User Management", "Index", "User")
    </center>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}  